{% extends 'base.html' %}

{% block title %} Movimientos {% endblock %}

{% block page_content %}
    <h1>Lista de movimientos</h1>
    <section class="section_table">
    <table class="tabla_movimientos">
        <tr class="tabla_mv_cabecera">
            <th>Fecha</th>
            <th>Hora</th>
            <th class="concept">Concepto</th>
            <th class="type">Tipo</th>
            <th class="amount">Cantidad</th>
        </tr>

        {% for movement in movements %}
        <tr class="movement_list">
            <td class="movement">{{ movement.fecha }}</td>
            <td class="movement">{{ movement.hora }} </td>
            <td class="movement">{{ movement.concepto}}</td>
            <td class="movement type">
                {% if movement.es_ingreso == '1' %} 
                    Ingreso
                {% else %} 
                    Gasto 
                {% endif %}
            </td>
            <td class="movement amount">{{ movement.cantidad }}</td>
            <td class="update_container">
                <a role="button" href="/update/{{ movement.id }}" class="update">Edit</a>
            </td>
            <td class="delete-container">
                <a role="button" href="/delete/{{ movement.id }}" class="delete">X</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </section>
    <div class="actions">
        <a href="/alta" role="button">Nuevo Ingreso</a>
    </div>
{% endblock %}