<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance de cuenta | Movimientos</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/pico.css">
</head>
<body>
    <header>
        <div class="container">
            Cabecera &nbsp;&nbsp;&nbsp; de <em>balances</em>
        </div>
    </header>
    <section class="container">
        <h1>Lista de movimientos</h1>
        <table class="tabla_movimientos">
            <tr class="tabla_mv_cabecera">
                <th>Fecha</td>
                <th>Hora</td>
                <th>Concepto</td>
                <th>Tipo</td>
                <th>Cantidad</td>
            </tr>

            {% for movimiento in movimientos %}
            <tr>
                <td>{{ movimiento.fecha }}</td>
                <td>{{ movimiento.hora }} </td>
                <td>{{ movimiento.concepto}}</td>
                <td>
                    {% if movimiento.es_ingreso %} 
                        Ingreso 
                    {% else %} 
                        Gasto 
                    {% endif %}
                </td>
                <td>{{ movimiento.cantidad }}</td>
            </tr>
            {% endfor %}
        </table>
        <p class="actions">
            <a href="/alta" role="button">+</a>
        </p>
    </section>
    <footer>
        <div class="container">
            &copy; 2022 - Todos los derechos reservados
        </div>
    </footer>
</body>
</html>