{% extends 'base.html' %}

{% block title %} Alta {% endblock %}

{% block page_content %}
    <h1>Nuevo movimiento</h1>
    <form action="/alta" method="post">
        <div class="grid">
            <label for="fecha">Fecha:
                <input type="date" name="fecha" id="fecha" value="{{data.fecha}}">
            </label>
            <label for="hora">Hora:
                <input type="time" name="hora" id="hora" value="{{data.hora}}">
            </label>
        </div>
        <label for="concepto">Concepto:</label>
        <input type="text" name="concepto" id="concepto" value="{{data.concepto}}">
        <label for="es_ingreso">Es ingreso:
            <input type="checkbox" name="es_ingreso" id="es_ingreso" value="{{data.es_ingreso}}">
        </label>
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" id="cantidad" step="0.01" value="{{data.cantidad}}">
        <input type="submit" value="Aceptar" id="aceptar" name="aceptar">
    </form>
    <div class="back_container">
        <a class="back" href="/" role="button">Regresar</a>
    </div>
{% endblock %}
