        :root {
            --color-primario: #1095c1;
            --color-secundario: #f7dba7;
            --negro: #2c363f; 
            --blanco: #fafafa;
            --separacion-defecto: 5px;
        }

        .actions {
            display: flex;
            justify-content: flex-start;
        }

        body > header, body > footer {
            padding: 2rem;
            font-size: 2.5rem;
            background-color: var(--color-primario);
            color: var(--blanco);
            margin-top: var(--separacion-defecto);
            width: calc(100% - 5px); 
        }

        body > section > h1 {
            font-size: 2rem;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        th {
            font-size: 1.25rem;
            font-weight: 700;
        }

        body > footer {
            position: sticky;
            bottom: 0;
            font-size: 1rem;
        }

        form {
            margin-bottom: 0;
        }

        .back_container {
            display: flex;
            justify-content: flex-end;
            background-color: none;
            color: none;
        }

        .back_container > .back {
            font-size: .85rem;
            background-color: transparent;
            color: var(--color-primario);
            width: 150px;
            display: flex;
            justify-content: center;
        }

        .error-message {
            border: 1px solid red;
            padding: calc(2 * var(--separacion-defecto));
            background-color: var(--color-secundario);
        }

        .error-message li {
            font-size: 0.8rem;
            color: darkred;
        }

        .delete-container {
            padding: 5px;
        }

        #delete {
            max-width: 25px;
            max-height: 35px;
            padding: 0px;
            margin: 0;
            opacity: 0;
        }

        tr.movement_list:hover #delete {
            opacity: 1;
            transition-delay: 20s;
            background-color: var(--color-primario);
            max-width: 25px;
            max-height: 35px;
            padding: 0px;
            margin: 0;
            transition: all 1s ease;
        }