        :root {
            --color-primario: #1095c1;
            --color-secundario: #f7dba7;
            --negro: #2c363f; 
            --blanco: #fafafa;
            --separacion-defecto: 5px;
        }

        .actions {
            display: flex;
            justify-content: flex-start;
        }

        body > header, body > footer {
            padding: 2rem;
            font-size: 2.5rem;
            background-color: var(--color-primario);
            color: var(--blanco);
            margin-top: var(--separacion-defecto);
            width: calc(100% - 5px); 
        }

        body > section > h1 {
            font-size: 2rem;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        th {
            font-size: 1.25rem;
            font-weight: 700;
        }

        body > footer {
            position: sticky;
            bottom: 0;
            font-size: 1rem;
        }

        .back_container {
            display: flex;
            justify-content: flex-end;
        }

        .back_container > .back {
            font-size: .85rem;
            background-color: white;
            color: var(--color-primario);
            width: 150px;
            display: flex;
            justify-content: center;
        }